extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Portfolio'
    - var inter = '<a href="https://www.w3schools.com"> LinkedIn </a>'



    append css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css')
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')
    link(rel='stylesheet', href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")


block content


    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *
    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container',
    })


    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *


    //- include mixins/header.pug
    //- +header({
    //-     pageHeaderBg: 'bg-img-cover overlay overlay-30',
    //-     pageHeaderBgImg: 'background-image: url("https://source.unsplash.com/q10VITrVYUM/1500x900")',
    //-     pageHeaderStyle: 'page-header-dark',
    //-     svgBorderAngled: false,
    //-     svgBorderRounded: true,
    //-     svgBorderWaves: false,
    //-     svgBorderFill: 'text-white'
    //- })
    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-dark',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.py-5.my-0
            .container
                .row.justify-content-center
                    .col-xl-8.col-lg-10.text-center
                        img(src='../../assets/ava.png', style='width: 18rem', data-aos='slide-down').mb-4
                        div(data-aos='slide-left')
                            h1.page-header-title.typewriter(id="anime")
                            p.page-header-text.dark(data-aos='slide-up',  data-aos-delay='100') I am a full-stack developer based in SF.
                            a.btn.btn-marketing.rounded-pill.btn-primary.lift.lift-lg(href='../../assets/Vlad_Bulvakhter_Resume.pdf',  download='Vlad Bulvakhter Resume')
                                i.fas.fa-file-pdf.mr-2
                                | Download Resume


    //- * * * * * * * * * * *
    //- * * Intro Section * *
    //- * * * * * * * * * * *

      p.lead.mb-0 Here's what I've got

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container(id='about')

            .text-uppercase-expanded.text-primary.small.mb-2 About Me
            hr.mt-0.mb-5

            .row
                .col-lg-8
                    p I’m Vlad and I love building things. Originally from Kazakhstan, I moved to the US when I was sixteen and it’s been a crazy ride since then! I’m passionate about data and how we can leverage data to change the world for the better.
                    p Aside from spending time on debugging my code, I enjoy exploring new taco places in SF, playing and watching soccer, and hiking in the beautiful Presidio. If you want to get in touch, connect with me on #[a(href="https://www.linkedin.com/in/vbulvakhter/", target='_blank') LinkedIn] or shoot me a note at #[a(href='mailto:vbulvakhter@gmail.com') vbulvakhter@gmail.com].



    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container(id="stack")
            .row.justify-content-center
                .col-lg-6
                    .mb-5.text-center
                        .text-lg.text-uppercase-expanded.text-primary.mb-2 My stack

            .row.text-center
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-d3js-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green D3

                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-javascript-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green JavaScript
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-ruby-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green Ruby
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-rails-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green Rails
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-react-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green React
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-react-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green Redux
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-webpack-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green Webpack
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-nodejs-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green Node.js
                .col-lg-4
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-babel-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green Babel
                .col-lg-4
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-css3-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green CSS3
                .col-lg-4
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-html5-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green HTML5
                .col-lg-4
                    .icon-stack.icon-stack-lg.thumbnail.mb-1
                        i.devicon-postgresql-plain.thumbicon
                    hr.mt-2.mb-2.border-dev-green(width="25%")
                    h6.dev-green PostgreSQL

    //- * * * * * * * * *
    //- * * Portfolio * *
    //- * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-15',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white mt-n10'
    })

        .container.z-1
            .row.justify-content-center
                .col-lg-6
                    .mb-5.text-center
                        .text-lg.text-uppercase-expanded.text-primary.mb-2 My Projects
            .card.mb-5(data-aos='fade-right',  data-aos-delay='100')
                .row.no-gutters
                    .col-md-6
                        img.img-fluid(src='https://source.unsplash.com/ksBiPfELh9Y/800x500', alt='f')
                    .col-md-6
                        .card-body.d-flex.align-items-center.justify-content-center.h-100.flex-column
                            h3.card-title.font-weight-bold.text-uppercase.mb-2 Where is my BART?
                            p.card-text.font-weight-light.mb-4(id="projects")
                                | A dynamic web app to track BART train locations in real-time.
                            a.btn.btn-outline-dark.btn-marketing.rounded-pill(href='https://vladi27.github.io/TrackBartLive/#/',  target='_blank') View
            .card.mb-5(data-aos='fade-left',  data-aos-delay='150')
                .row.no-gutters
                    .col-md-6.order-1.order-md-0
                        .card-body.d-flex.align-items-center.justify-content-center.h-100.flex-column
                            h3.card-title.font-weight-bold.text-uppercase.mb-2 Yello!
                            p.card-text.font-weight-light.mb-4
                                | A single-page application Trello clone for organizing and managing projects via customizable personal boards.
                            a.btn.btn-outline-dark.btn-marketing.rounded-pill(href='https://yello-fsp.herokuapp.com/#/',  target='_blank') View
                    .col-md-6.order-0.order-md-1
                        img.img-fluid(src='https://source.unsplash.com/-1_RZL8BGBM/800x550', alt='...')
            .card(data-aos='fade-right', data-aos-delay='200')
                .row.no-gutters
                    .col-md-6
                        img.img-fluid(src='https://source.unsplash.com/EMPZ7yRZoGw/800x550', alt='...')
                    .col-md-6
                        .card-body.d-flex.align-items-center.justify-content-center.h-100.flex-column
                            h3.card-title.font-weight-bold.text-uppercase.mb-2 Venture Money
                            p.card-text.font-weight-light.mb-4
                                | An interactive data-visualization app to engage with venture funding data segmented by industry,rounds and years.
                            a.btn.btn-outline-dark.btn-marketing.rounded-pill(href='https://vladi27.github.io/startup-funding-rounds/',  target='_blank') View



        //- .container
        //-     .row.justify-content-center
        //-         .col-lg-6
        //-             .mb-5.text-center
        //-                 .text-xs.text-uppercase-expanded.text-primary.mb-2 My Projects
        //-     .card-columns.card-columns-portfolio
        //-         a.card.card-portfolio(href='https://vladi27.github.io/TrackBartLive/#/',  target='_blank')
        //-             img.card-img-top(src='https://source.unsplash.com/ksBiPfELh9Y/400x500', alt='...')
        //-             .card-body
        //-                 .card-title Bart Project djjdjf djdjjdjj djdjj djjdj djdj
        //-         a.card.card-portfolio(href='#!')
        //-             img.card-img-top(src='https://source.unsplash.com/-1_RZL8BGBM/400x500', alt='...')
        //-             .card-body
        //-                 .card-title Yello
        //-         a.card.card-portfolio(href='#!')
        //-             img.card-img-top(src='https://source.unsplash.com/EMPZ7yRZoGw/400x500', alt='...')
        //-             .card-body
        //-                 .card-title VC Money


    //- * * * * * * * * * * *
    //- * * Intro Section * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container(id="contact")
            .row.justify-content-center
                .col-lg-8.text-center
                    .text-lg.text-uppercase-expanded.text-dark.mb-2 Contact Me

            .row.justify-content-center
                .icon-list-social.mt-4
                    .col-lg-4

                        a.icon-list-social-link(href='https://www.linkedin.com/in/vbulvakhter/', target='_blank')
                            i.fab.fa-linkedin
                    .col-lg-4
                        a.icon-list-social-link(href='https://github.com/vladi27', target='_blank')
                            i.fab.fa-github
                    .col-lg-4

                        a.icon-list-social-link(href='mailto:vbulvakhter@gmail.com')
                            i.far.fa-envelope

                    .col-lg-4
                        a.icon-list-social-link(href='../../assets/Vlad_Bulvakhter_Resume.pdf', download='Vlad Bulvakhter Resume')
                            i.far.fa-file




block footer
    //- include mixins/footer.pug
    //- +footer({
    //-     footerBg: 'bg-dark',
    //-     footerStyle: 'footer-dark'
    //- })

    append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.js')
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });

        //-   h2 Contact me
        //-             p.mb-5 I am available for contract work, when you're ready - let me know!
        //-             .row
        //-                 .col
        //-                     .card
        //-                         .card-body
        //-                             .icon-stack.icon-stack-lg.bg-orange.text-white.mb-3
        //-                                 i(data-feather='mail')
        //-                             .small
        //-                                 a(href='mailto:vbulvakhter@gmail.com') vbulvakhter@gmail.com
        //-                 .col
        //-                     .card
        //-                         .card-body
        //-                             .icon-stack.icon-stack-lg.bg-green.text-white.mb-3
        //-                                 i(data-feather='smartphone')
        //-                             .small
        //-                                 a(href="4152607829") 415-260-7829
        //-                 .col
        //-                     .card
        //-                         .card-body
        //-                             .icon-stack.icon-stack-lg.bg-blue.text-white.mb-3
        //-                                 i(data-feather='download')
        //-                             .small
        //-                                 a(href='../../assets/Vlad_Bulvakhter_Resume.pdf', download='Vlad Bulvakhter Resume') Resume