// This file is intentionally blank
// Use this file to override SCSS within the project, or to add new SCSS for creating your own CSS components
.icon-list-social {
  display: flex;
  .icon-list-social-link {
    font-size: 1.5rem;
    margin: auto;
  }
}
.dev-green {
  color: #1e3054;
}
// .thumbnail:hover {
//   background-color: #60be86;
//   cursor: pointer;
//   transition: 0.2s;
// }
// .thumbnail {
//   background-color: white;
// }

.thumbicon {
  color: #1e3054;
}

.thumbnail {
  background-color: white;

  &:hover {
    background-color: #1e3054;

    transition: 0.2s;
    .thumbicon {
      color: white;
    }
  }
}
